<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <script src="../lib/jquery-3.1.0.js"></script>
    <script src="../js/style.js"></script>
</head>
<body class="worksdetail">

<div id="wrap">
    <div class="cloudworks_detail header">
        <a href="../index.html" class="homeLogoLeft"><img src="../images/logo.jpg"></a>
    </div>
    <div class="cloudworks_detail">
        <div class="title">
            <h1>云端作品</h1>
            <span>cloud works</span>
        </div>
        <div class="min clearfix">
            <div class="min_leftAll">
                <div class="min_left">
                    <dl>
                        <dt>晚安小妞<time>2016-8-23</time></dt>
                        <dd><span>片</span>名：晚安小妞</dd>
                        <dd><span>类</span>型：兄弟情义、都市爱情、草根</dd>
                        <dd><span>片</span>长：72分钟</dd>
                        <dd><span>主</span>题：热血、浪漫</dd>
                        <dd><span>导</span>演：肖华强</dd>
                        <dd><span>演</span>员：卢延团 杨爽 那朵</dd>
                    </dl>
                    <p>
                        剧情介绍：步少风、奔子、大鑫仔热血三人组“风组合”在夜店当混混，看场子、约架。老板交给的任务没有完成，
                        只能回到夜店，不料到了办公室却发现自己的女朋友秦曼芝在老板的房间里，老板知道步少风失败，只得布置了新的任务，
                        到大楼要债。步少风三人这次做好了万全的准备，前去大楼，不料撞到了油漆工苏小萌，并纠缠一番。苏小萌家庭特殊，
                        跟继母以及弟弟住在一起，全家只靠苏小萌一人打工赚钱，由于需要弟弟的手术费，不得已来到夜店应聘，正好是步少风所在的场所，
                        从此步少风、苏小萌、秦曼芝之间产生了千丝万缕的关系。风组合、苏小萌、秦曼芝也随着剧情的变化，即将揭露夜店老板背后惊天的秘密。
                    </p>
                    <div class="list">
                        <ul>
                            <li class="color">精彩剧照</li>
                            <li>预告片</li>
                        </ul>
                    </div>
                </div>
                <div class="min_left" style="display: none;">
                    <dl>
                        <dt>幻城<time>2016-7-24</time></dt>
                        <dd><span>片</span>名：幻城</dd>
                        <dd><span>类</span>型：玄幻</dd>
                        <dd><span>片</span>长：每集长度45钟</dd>
                        <dd><span>主</span>题：热血、浪漫</dd>
                        <dd><span>导</span>演：鞠觉亮、邹集城</dd>
                        <dd><span>演</span>员：冯绍峰、宋茜、马天宇、张萌、麦迪娜</dd>
                    </dl>
                    <p>
                        剧情介绍：当火族的二皇子炘绝参加冰族部落王子卡索的成人礼时被神秘杀害，火王借此发动了火族与冰族的战争，在冰族奸细的帮助下，
                        卡索的父母被抓，年长的兄弟姐妹被杀害，仅剩两个冰族王子卡索和樱空释幸存并逃到凡间，寻求守界使者梨落的帮助。
                        卡索在梨落的帮助下从六个部落首领手中获得六叶冰晶，卡索因被火王所伤失去灵力一蹶不振，樱空释率领其他部落对抗火王，
                        并打败了火族继承王位。梨落为了恢复卡索灵力与弑神剑达成交易变为嗜血的野兽，而火族公主艳炟为了樱空释放弃了一切。
                        然而卡索的恋人梨落、弟弟樱空释都在渊祭的阴谋下去世，他决心要找到传说中的“隐莲”复活他们，冰族与火族的部落之间的战争再次打响，
                        而罹天烬也加入火族决定要找卡索报仇。
                    </p>
                    <div class="list">
                        <ul>
                            <li class="color">精彩剧照</li>
                            <li>预告片</li>
                        </ul>
                    </div>
                </div>
                <div class="min_left" style="display:none;">
                    <dl>
                        <dt>最后的敌人<time>2008-2-17</time></dt>
                        <dd><span>片</span>名：最后的敌人</dd>
                        <dd><span>类</span>型：剧情/惊险</dd>
                        <dd><span>片</span>长：每集60分钟</dd>
                        <dd><span>主</span>题：战争</dd>
                        <dd><span>导</span>演：Iain B. MacDonald</dd>
                        <dd><span>演</span>员：Robert Carlyle ... Russell Benedict Cumberbatch ... Stephen Ezard</dd>
                    </dl>
                    <p>
                        剧情介绍：《最后的敌人》是一部由Benedict Cumberbatch和Robert Carlyle领衔主演的全明星阵容的全新惊险大作。
                        讲述了一个男人寻找他兄弟死亡的真相时发现自己陷入一场国际阴谋和激情的风流韵事。
                    </p>
                    <div class="list">
                        <ul>
                            <li class="color">精彩剧照</li>
                            <li>预告片</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="min_right">
                <div class="min_right_box">
                    <div class="box_minr">
                        <div class="bottom_box" id="bottom_box">
                            <div class="mole">
                                <p>精彩剧照</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="works" id="works">
            <ul class="cot clearfix">
                <li class="ccc abc">电影作品</li>
                <li class="abc">电视剧作品</li>
                <li class="abc">迷你剧</li>
                <li id="next">下一页</li>
                <li id="upper">上一页</li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <ul class="footerNav cloudworksfooterNav clearfix">
            <li><a href="../index.html">首页<span class="englishName">page home</span></a> </li>
            <li><a href="environment.html">关于云端<span class="englishName">about</span></a> </li>
            <li><a href="cloudworks.html">云端作品<span class="englishName">works</span></a> </li>
            <li><a href="actor.html">艺人经纪<span class="englishName">artist</span></a> </li>
            <li><a href="#">集团控股<span class="englishName">group</span></a> </li>
            <li><a href="#">云合大数据<span class="englishName">data	</span></a> </li>
            <li><a href="#">泛生活产品<span class="englishName">entertainment</span></a> </li>
        </ul>
    </div>
    <div class="bottom clearfix">
        <p>版权所属：北京云端文化传媒股份有限公司	Copyright © YUNDUAN<br>
            地址：北京市朝阳区京密路弘园5号文化创意园A7-1</p>
        <a href="#"><img src="../images/home_icon2.png"></a><a href="#"><img src="../images/home_icon.png"></a>
    </div>
</div>
</body>
</html>