<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>办公环境</title>
    <link href="../css/style.css" rel="stylesheet">
    <script src="../lib/jquery-3.1.0.js"></script>
    <script src="../js/style.js"></script>
</head>
<body>
<div class="backgroundImg"></div>
<div id="wrap">
    <div class="header">
        <a href="../index.html" class="homeLogoLeft"><img src="../images/logo.jpg"></a>
    </div>
    <div class="aboutculture">
        <div class="title">
            <h3>企业文化</h3>
            <p>Culture</p>
        </div>
        <div class="content">
            <div class="aboutTab tabItem">
                <div class="currentText">
                    <p>北京云端文化传媒股份有限公司成立于2011年8月，是一家从事IP影视剧制作及发行，泛生活IP运营，新媒体整合营销、艺人经纪，艺术学校等业务的综合性传媒公司。</p>
                    <p>云端传媒旗下控股子公司，包括云来乐、云梵文化、云端互娱、云端影业、云端艺校等，每一个子公司，都是以IP内容为核心的泛生活产业运营的具体应用，搭建”IP+大数据+整合营销+衍生品+艺人+艺术培训”的产业链，全版权泛生活一体化运营，构建属于新时代的云核变体系。 </p>
                    <p>IP运营体系上，云端传媒前瞻性地以大数据助力精准营销，兄弟公司云合数据，深耕影视娱乐垂直领域数据挖掘，致力于通过机器学习不断提升行业洞察力，以预测性分析支持影视娱乐项目全流程决策。</p>
                    <p>云端传媒高度关注移动互联网视频业务在当今社会的发展态势，从2013年开始，全面布局移动互联网，当前已成为中国移动、中国电信、中国联通三大运营商的全网CP(内容提供商)，并已经与咪咕视讯、咪咕阅读、天翼视讯等合作方进行了广泛且深入的合作。</p>
                    <p>目前公司已经在全国中小企业股份转让系统（新三板）挂牌上市，股票代码836628。</p>
                </div>
            </div>
            <div class="cultureTab tabItem">
                <div class="line" id="line">
                    <div class="rise riseAC">
                        <span class="rise-text">
                            <h2>起</h2>
                            <p>RISE</p>
                        </span>
                    </div>
                    <div class="rise">
                        <span class="rise-text">
                            <h2>承</h2>
                            <p>BEARING</p>
                        </span>
                    </div>
                    <div class="rise">
                        <span class="rise-text">
                            <h2>转</h2>
                            <p>TURN</p>
                        </span>
                    </div>
                    <div class="rise">
                        <span class="rise-text">
                            <h2>合</h2>
                            <p>CLOSE</p>
                        </span>
                    </div>
                </div>
                <div class="explain show">
                    <p>北京云端文化传媒股份有限公司成立于2011年8月，是一家从事IP影视剧制作及发行，泛生活IP运营，新媒体整合营销、艺人经纪，艺术学校等业务的综合性传媒公司。</p>
                    <p>云端传媒旗下控股子公司，包括云来乐、云梵文化、云端互娱、云端影业、云端艺校等，每一个子公司，都是以IP内容为核心的泛生活产业运营的具体</p>
                    <p>应用，搭建”IP+大数据+整合营销+衍生品+艺人+艺术培训”的产业链，全版权泛生活一体化运营，构建属于新时代的云核变体系。 </p>
                </div>
                <div class="explain">
                    <p>北京云端文化传媒股份有限公司成立于2011年8月，是一家从事IP影视剧制作及发行，泛生活IP运营，新媒体整合营销、艺人经纪，艺术学校等业务的综合性传媒公司。</p>
                    <p>云端传媒旗下控股子公司，包括云来乐、云梵文化、云端互娱、云端影业、云端艺校等，每一个子公司，都是以IP内容为核心的泛生活产业运营的具体</p>
                    <p>应用，搭建”IP+大数据+整合营销+衍生品+艺人+艺术培训”的产业链，全版权泛生活一体化运营，构建属于新时代的云核变体系。 </p>
                </div>
                <div class="explain">
                    <p>北京云端文化传媒股份有限公司成立于2011年8月，是一家从事IP影视剧制作及发行，泛生活IP运营，新媒体整合营销、艺人经纪，艺术学校等业务的综合性传媒公司。</p>
                    <p>云端传媒旗下控股子公司，包括云来乐、云梵文化、云端互娱、云端影业、云端艺校等，每一个子公司，都是以IP内容为核心的泛生活产业运营的具体</p>
                    <p>应用，搭建”IP+大数据+整合营销+衍生品+艺人+艺术培训”的产业链，全版权泛生活一体化运营，构建属于新时代的云核变体系。 </p>
                </div>
                <div class="explain">
                    <p>北京云端文化传媒股份有限公司成立于2011年8月，是一家从事IP影视剧制作及发行，泛生活IP运营，新媒体整合营销、艺人经纪，艺术学校等业务的综合性传媒公司。</p>
                    <p>云端传媒旗下控股子公司，包括云来乐、云梵文化、云端互娱、云端影业、云端艺校等，每一个子公司，都是以IP内容为核心的泛生活产业运营的具体</p>
                    <p>应用，搭建”IP+大数据+整合营销+衍生品+艺人+艺术培训”的产业链，全版权泛生活一体化运营，构建属于新时代的云核变体系。 </p>
                </div>
            </div>
            <ul class="environmentTab tabItem clearfix">
                <li class="pic1"><img src="../images/culture_3.jpg"></li>
                <li class="pic2">
                    <div class="top"><img src="../images/culture_5.jpg"></div>
                    <div class="bot"><img src="../images/culture_6.jpg"></div>
                </li>
                <li class="pic3"><img src="../images/culture_4.jpg"></li>
                <li class="pic4">
                    <div class="top"><img src="../images/culture_2.jpg"></div>
                    <div class="bot"><img src="../images/culture_1.jpg"></div>
                </li>
                <li class="pic1"><img src="../images/culture_3.jpg"></li>
                <li class="pic2">
                    <div class="top"><img src="../images/culture_5.jpg"></div>
                    <div class="bot"><img src="../images/culture_6.jpg"></div>
                </li>
                <li class="pic3"><img src="../images/culture_4.jpg"></li>
                <li class="pic4">
                    <div class="top"><img src="../images/culture_2.jpg"></div>
                    <div class="bot"><img src="../images/culture_1.jpg"></div>
                </li>
                <li class="pic1"><img src="../images/culture_3.jpg"></li>
                <li class="pic2">
                    <div class="top"><img src="../images/culture_5.jpg"></div>
                    <div class="bot"><img src="../images/culture_6.jpg"></div>
                </li>
                <li class="pic3"><img src="../images/culture_4.jpg"></li>
                <li class="pic4">
                    <div class="top"><img src="../images/culture_2.jpg"></div>
                    <div class="bot"><img src="../images/culture_1.jpg"></div>
                </li>
                <li class="pic1"><img src="../images/culture_3.jpg"></li>
                <li class="pic2">
                    <div class="top"><img src="../images/culture_5.jpg"></div>
                    <div class="bot"><img src="../images/culture_6.jpg"></div>
                </li>
                <li class="pic3"><img src="../images/culture_4.jpg"></li>
                <li class="pic4">
                    <div class="top"><img src="../images/culture_2.jpg"></div>
                    <div class="bot"><img src="../images/culture_1.jpg"></div>
                </li>
            </ul>
            <div class="newsTab tabItem">
                <div class="newsList clearfix">
                    <div class="newsItem">
                        <div class="date">
                            <h3>AUG</h3>
                            <h2>23</h2>
                        </div>
                        <div class="text">
                            <h3>云端“白宫”正确打开方式</h3>
                            <p>
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            </p>
                            <span>2016-08-23</span>
                        </div>
                    </div>
                    <div class="newsItem">
                        <div class="date">
                            <h3>AUG</h3>
                            <h2>23</h2>
                        </div>
                        <div class="text">
                            <h3>云端“白宫”正确打开方式</h3>
                            <p>
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            </p>
                            <span>2016-08-23</span>
                        </div>
                    </div>
                    <div class="newsItem">
                        <div class="date">
                            <h3>AUG</h3>
                            <h2>23</h2>
                        </div>
                        <div class="text">
                            <h3>云端“白宫”正确打开方式</h3>
                            <p>
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            </p>
                            <span>2016-08-23</span>
                        </div>
                    </div>
                    <div class="newsItem">
                        <div class="date">
                            <h3>AUG</h3>
                            <h2>23</h2>
                        </div>
                        <div class="text">
                            <h3>云端“白宫”正确打开方式</h3>
                            <p>
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            </p>
                            <span>2016-08-23</span>
                        </div>
                    </div>
                    <div class="newsItem">
                        <div class="date">
                            <h3>AUG</h3>
                            <h2>23</h2>
                        </div>
                        <div class="text">
                            <h3>云端“白宫”正确打开方式</h3>
                            <p>
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            </p>
                            <span>2016-08-23</span>
                        </div>
                    </div>
                    <div class="newsItem">
                        <div class="date">
                            <h3>AUG</h3>
                            <h2>23</h2>
                        </div>
                        <div class="text">
                            <h3>云端“白宫”正确打开方式</h3>
                            <p>
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                                2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            </p>
                            <span>2016-08-23</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newsDetailTab tabItem">
                <div class="news_detail clearfix">
                    <div class="left">
                        <h2>云端“白宫”正确打开方式
                            <time>2016-08-23</time>
                        </h2>
                        <p>
                            2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                            2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                            2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，2016r年8月28日，在小伙伴们的殷勤期盼中，
                            在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。2016r年8月28日，在小伙伴们的殷勤期盼中，
                            在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。2016r年8月28日，在小伙伴们的殷勤期盼中，
                            在缤纷的礼炮声中，2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            云端传媒正式落址弘园5号文化创意园。2016年8月28日，在小伙伴们的殷勤期盼中，
                            <br><br>
                            在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。2016r年8月28日，在小伙伴们的殷勤期盼中，
                            在缤纷的礼炮声中，2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            云端传媒正式落址弘园5号文化创意园。2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            云端传媒正式落址弘园5号文化创意园。2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，
                            2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                            2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，云端传媒正式落址弘园5号文化创意园。
                            2016r年8月28日，在小伙伴们的殷勤期盼中，在缤纷的礼炮声中，2016r年8月28日，在小伙伴们的殷勤期盼中，
                            在
                        </p>
                    </div>
                    <div class="right">
                        <div class="pic">
                            <ul class="detailPicList">
                                <li><img src="../images/news_detail_pic.png"></li>
                                <li><img src="../images/news_detail_pic.png"></li>
                                <li><img src="../images/news_detail_pic.png"></li>
                                <li><img src="../images/news_detail_pic.png"></li>
                                <li><img src="../images/news_detail_pic.png"></li>
                                <li><img src="../images/news_detail_pic.png"></li>
                            </ul>
                        </div>
                        <a class="btn next" href="javascript:;">下一页</a>
                        <a class="btn pre" href="javascript:;">上一页</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="subNav clearfix detailsubNav">
            <li class="subAC"><a href="#">关于我们</a> </li>
            <li><a href="#">企业文化</a> </li>
            <li><a href="#">办公环境</a> </li>
            <li><a href="#">新闻中心</a> </li>
        </ul>
    </div>

    <div class="footer">
        <ul class="footerNav clearfix">
            <li><a href="../index.html">首页<span class="englishName">page home</span></a> </li>
            <li><a href="environment.html">关于云端<span class="englishName">about</span></a> </li>
            <li><a href="cloudworks.html">云端作品<span class="englishName">works</span></a> </li>
            <li><a href="actor.html">艺人经纪<span class="englishName">artist</span></a> </li>
            <li><a href="#">集团控股<span class="englishName">group</span></a> </li>
            <li><a href="#">云合大数据<span class="englishName">data	</span></a> </li>
            <li><a href="#">泛生活产品<span class="englishName">entertainment</span></a> </li>
        </ul>
    </div>
    <div class="bottom clearfix">
        <p>版权所属：北京云端文化传媒股份有限公司	Copyright © YUNDUAN<br>
            地址：北京市朝阳区京密路弘园5号文化创意园A7-1</p>
        <a href="#"><img src="../images/home_icon2.png"></a><a href="#"><img src="../images/home_icon.png"></a>
    </div>
</div>
</body>
</html>